@page "/"

<PageTitle>Index</PageTitle>

<h1>Witaj w BudgetBuddy!</h1>

<p>Pomogę Ci planować i kontrolować swój budżet miesięczny, 
    analizować wydatki oraz otrzymywać inteligentne podpowiedzi finansowe dzięki Sztucznej Inteligencji.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
